<div layout="column" layout-align="center center">

    <h1 class="md-display-3">Prijava</h1>

    <form name="loginForm" layout="column" layout-align="center center">

        <md-input-container>
            <label>Email</label>
            <input type="text" name="email" ng-model="login.email" required>
            <div ng-messages="loginForm.email.$error">
                <div ng-message="required">Potrebno!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Lozinka</label>
            <input type="password" name="password" ng-model="login.password" required>
            <div ng-messages="loginForm.password.$error">
                <div ng-message="required">Potrebno!</div>
            </div>
        </md-input-container>

        <md-button class="md-fab md-mini md-raised" ng-click="login.login()" ng-disabled="loginForm.$invalid"
                   aria-label="Prijavi se">
            <md-tooltip>Prijavi se</md-tooltip>
            <md-icon md-svg-src="app/icons/ic_check_black_24px.svg"></md-icon>
        </md-button>

    </form>

</div>