<div ng-if="main.user.type == 2">

    <div ng-if="approve.requests.length > 0">

        <div layout="row" layout-align="space-between center">
            <md-button class="md-fab md-mini md-raised" ng-click="approve.previous()" aria-label="Prethodni zahtjev"
                       ng-disabled="approve.current == 0">
                <md-tooltip md-direction="bottom">Prethodni zahtjev</md-tooltip>
                <md-icon md-svg-src="navigate_before"></md-icon>
            </md-button>

            <iframe class="requests-frame" flex></iframe>

            <md-button class="md-fab md-mini md-raised" ng-click="approve.next()" aria-label="Sljedeći zahtjev"
                       ng-disabled="approve.current == approve.requests.length - 1">
                <md-tooltip md-direction="bottom">Sljedeći zahtjev</md-tooltip>
                <md-icon md-svg-src="navigate_next"></md-icon>
            </md-button>
        </div>

        <div layout="row" layout-align="space-around center">
            <md-button class="md-fab md-mini md-raised" ng-click="approve.disapprove($event)" aria-label="Odbij zahtjev">
                <md-tooltip md-direction="bottom">Odbij zahtjev</md-tooltip>
                <md-icon md-svg-src="cancel"></md-icon>
            </md-button>

            <p>{{ approve.current + 1 }}/{{ approve.requests.length }}</p>

            <md-button class="md-fab md-mini md-raised" ng-click="approve.approve($event)" aria-label="Odobrij zahtjev">
                <md-tooltip md-direction="bottom">Odobrij zahtjev</md-tooltip>
                <md-icon md-svg-src="check_circle"></md-icon>
            </md-button>
        </div>

    </div>

    <div ng-if="approve.requests.length == 0">

        <p>Nema zahtjeva za odobravanje</p>

    </div>

</div>

<div ng-if="main.user.type != 2">
    Nemaš to pravo!
</div>