$font-default: Roboto, "Helvetica Neue", sans-serif;
$md-primary: rgb(76, 175, 80);
$md-accent: rgb(68, 138, 255);
$md-warn: rgb(255, 171, 0);

body {
  font-family: $font-default;

  header {
    padding: 1% 2%;
  }

  button.md-mini:not([disabled]){
    &[ng-click="main.logout()"], &[ng-click="newRequestN.clear()"], &[ng-click="requests.invalid($event)"] {
      &:hover {
        background-color: $md-warn !important;
      }
    }

    &[ng-click="requests.valid()"]:hover {
      background-color: $md-primary !important;
    }

    &:hover {
      background-color: $md-accent !important;
    }
  }

  .main-content {
    width: 90%;
  }

  .time-date {
    .control {
      .full-title {
        background-color: $md-primary;
        color: #000;
      }

      .slider .date-control {
        .headers {
          color: #000;
        }

        .days .day-cell {
          &.today {
            color: $md-primary;
          }
          &.selected {
            color: #fff;
            background-color: $md-primary;
          }
          &:hover, &:active {
            color: #fff;
            background-color: $md-primary;
          }
        }
      }
    }

    button i {
      color: $md-primary;
    }

    &.full-mode .buttons {
      background-color: $md-primary;

      button {
        color: #000 !important;
      }
    }
  }

  .signature-input {
    width: 250px;
  }

  .md-input-container-height {
    height: 94px;
  }

  .full-width {
    width: 100%;
  }

  .document-dialog {
    width: 100%;
    height: 100%;

    md-dialog-content {
      width: 100%;
      height: 100%;
    }
  }

  .signature-dialog {
    md-dialog-content {
      padding: 10px;
    }
    canvas {
      border: 1px solid $md-primary;

      &:active {
        cursor: default;
      }
    }
  }

  .requests-frame {
    height: 700px;
  }

  .invalid-request-dialog, .details-dialog {
    width: 40%;

    md-dialog-content {
      padding: 20px 10px 10px 10px;
      width: 100%;
    }
  }

  md-icon {
    &.negative svg {
      fill: $md-warn;
    }
    &.positive svg {
      fill: $md-primary;
    }
    &.pending svg {
      fill: $md-accent;
    }
  }

  button.badge {
    pointer-events: none;
  }
}