$font-default: Roboto, "Helvetica Neue", sans-serif;
$md-primary: rgb(76, 175, 80);
$md-accent: rgb(68, 138, 255);
$md-warn: rgb(255, 171, 0);
$selected: rgb(236, 236, 236);

body {
  font-family: $font-default;

  header, footer {
    padding: 1% 2%;
  }

  button.md-mini:not([disabled]){
    &[ng-click="main.logout()"], &[ng-click="newRequestN.clear()"],
    &[ng-click="validation.invalid($event)"], &[ng-click="approval.disapprove($event)"] {
      &:hover {
        background-color: $md-warn !important;
      }
    }

    &[ng-click="validation.valid()"], &[ng-click="approval.approve($event)"] {
      &:hover {
        background-color: $md-primary !important;
      }
    }

    &:hover {
      background-color: $md-accent !important;
    }
  }

  .main-content {
    width: 90%;
  }

  .time-date {
    .control {
      .full-title {
        background-color: $md-primary;
        color: #000;
      }

      .slider .date-control {
        .headers {
          color: #000;
        }

        .days .day-cell {
          &.today {
            color: $md-primary;
          }
          &.selected {
            color: #fff;
            background-color: $md-primary;
          }
          &:hover, &:active {
            color: #fff;
            background-color: $md-primary;
          }
        }
      }
    }

    button i {
      color: $md-primary;
    }

    &.full-mode .buttons {
      background-color: $md-primary;

      button {
        color: #000 !important;
      }
    }
  }

  .signature-input {
    width: 250px;
  }

  .md-input-container-height {
    height: 94px;
  }

  .advance-payment-container {
    width: 120px;
    margin-left: 84px;
  }

  .full-width {
    width: 100%;
  }

  .document-dialog {
    width: 100%;
    height: 100%;

    md-dialog-content {
      width: 100%;
      height: 100%;
    }
  }

  .signature-dialog {
    md-dialog-content {
      padding: 10px;
    }
    canvas {
      border: 1px solid $md-primary;

      &:active {
        cursor: default;
      }
    }
  }

  .requests-frame, .warrants-frame {
    height: 600px;
  }

  .requests-list, .warrants-list {
    height: 600px;

    md-input-container {
      margin: 18px 0 0 0;
    }

    md-list {
      overflow-y: scroll;
      padding: 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .index {
      margin-right: 16px;
      font-weight: bold;
    }

    .selected {
      background-color: $selected;
    }

    .verbose {
      position: fixed;
      margin-left: 16px !important;
      padding: 16px;
      background-color: $selected;
      z-index: 99;
    }
  }

  .invalid-request-dialog, .details-dialog {
    width: 40%;

    md-dialog-content {
      padding: 20px 10px 10px 10px;
      width: 100%;
    }
  }

  .mark-request-dialog {
    md-dialog-content {
      padding: 20px 10px 10px 10px;
    }
  }

  md-icon {
    &.negative svg {
      fill: $md-warn;
    }
    &.positive svg {
      fill: $md-primary;
    }
    &.pending svg {
      fill: $md-accent;
    }
  }

  button.badge {
    pointer-events: none;
  }

  .details-dialog {
    em {
      text-align: center;
    }
  }

  .pending-warrants-form {
    margin-left: 20px;
    margin-right: 20px;

    .small-width {
      width: 100px;
    }

    .select-input {
      width: 180px;
    }
  }
}