<md-dialog class="reject-dialog-reason" aria-label="{{ rejectDialog.title }}" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex>{{ rejectDialog.title }}</h2>
            <md-button class="md-icon-button" ng-click="rejectDialog.hide()" aria-label="Zatvori">
                <md-icon md-svg-src="close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout layout-align="center center">

        <form name="rejectDialogForm" class="full-width">

            <md-input-container class="full-width">
                <label>{{ rejectDialog.label }}</label>
                <textarea name="reason" ng-model="rejectDialog.reason" required md-maxlength="300"></textarea>
                <div ng-messages="rejectDialogForm.reason.$error">
                    <div ng-message="required">Potrebno!</div>
                    <div ng-message="maxlength">Predugačko!</div>
                </div>
            </md-input-container>

        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-fab md-mini md-raised" ng-click="rejectDialog.confirm()" aria-label="Potvrdi"
                ng-disabled="rejectDialogForm.$invalid">
            <md-tooltip md-direction="left">Potvrdi</md-tooltip>
            <md-icon md-svg-src="check"></md-icon>
        </md-button>
    </md-dialog-actions>

</md-dialog>