<md-dialog class="signature-dialog" aria-label="Potpis" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex>Potpis</h2>
            <md-button class="md-icon-button" ng-click="signatureDialog.hide()" aria-label="Zatvori">
                <md-icon md-svg-src="close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout layout-align="center">
        <canvas width="250" height="70"></canvas>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-fab md-mini md-raised" ng-click="signatureDialog.clear()" aria-label="Obriši">
            <md-icon md-svg-src="delete"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised" ng-click="signatureDialog.confirm()" aria-label="Potvrdi">
            <md-icon md-svg-src="check"></md-icon>
        </md-button>
    </md-dialog-actions>
</md-dialog>