<md-dialog aria-label="{{ dateTimeDialog.label }}" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex>{{ dateTimeDialog.label }}</h2>
            <md-button class="md-icon-button" ng-click="dateTimeDialog.hide()" aria-label="Zatvori">
                <md-icon md-svg-src="app/icons/ic_close_black_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <time-date-picker
                    ng-model="dateTimeDialog.value"
                    on-save="dateTimeDialog.save($value)"
                    on-cancel="dateTimeDialog.cancel()"
                    mindate="{{ dateTimeDialog.mindate }}"
                    maxdate="{{ dateTimeDialog.maxdate }}">
            </time-date-picker>
        </div>
    </md-dialog-content>
</md-dialog>