<md-dialog class="document-dialog" aria-label="Izgled dokumenta" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex>Prikaz dokumenta</h2>
            <md-button class="md-icon-button" ng-click="documentDialog.hide()" aria-label="Zatvori">
                <md-icon md-svg-src="app/icons/ic_close_black_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout>
        <iframe flex></iframe>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-fab md-mini md-raised" ng-click="documentDialog.send()" aria-label="Pošalji">
            <md-tooltip md-direction="left">Pošalji</md-tooltip>
            <md-icon md-svg-src="app/icons/ic_send_black_24px.svg"></md-icon>
        </md-button>
    </md-dialog-actions>
</md-dialog>