<div ng-if="warrants.warrants.length != 0" layout="row" layout-align="center start">

    <div layout="column" layout-align="start start" class="warrants-list">

        <md-input-container class="full-width">
            <label>Poredaj po</label>
            <md-select ng-model="warrants.orderBy">
                <md-option value="">primitku (novo-staro)</md-option>
                <md-option value="-">primitku (staro-novo)</md-option>
                <md-option value="surname">prezimenu (A-Z)</md-option>
                <md-option value="-surname">prezimenu (Z-A)</md-option>
                <md-option value="start_timestamp">polasku (prije-poslije)</md-option>
                <md-option value="-start_timestamp">polasku (poslije-prije)</md-option>
                <md-option value="end_timestamp">povratku (prije-poslije)</md-option>
                <md-option value="-end_timestamp">povratku (poslije-prije)</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Traži prezime</label>
            <input type="text" ng-model="warrants.searchSurname">
        </md-input-container>

        <md-list class="full-width">
            <md-list-item ng-repeat="warrant in warrants.warrants | filter: { surname: warrants.searchSurname } | orderBy: warrants.orderBy"
                          ng-click="warrants.select($index)" ng-class="{ 'selected': $index == warrants.current }" class="md-2-line"
                          ng-mouseenter="warrants.verbose[$index] = true" ng-mouseleave="warrants.verbose[$index] = false">
                <div class="index">{{ $index + 1 }}</div>
                <div class="md-list-item-text">
                    <p>{{ warrant.name + " " + warrant.surname }}</p>
                    <p>{{ warrant.for_place }}</p>
                </div>
                <div ng-if="warrants.verbose[$index]" class="verbose md-list-item-text">
                    <p>Osoba: {{ warrant.name + " " + warrant.surname }}</p>
                    <p>Mjesto: {{ warrant.for_place }}</p>
                    <p>Polazak: {{ warrants.formatDate(warrant.start_timestamp, "dd.MM.yyyy. 'u' HH:mm") }}</p>
                    <p>Povratak: {{ warrants.formatDate(warrant.end_timestamp, "dd.MM.yyyy. 'u' HH:mm") }}</p>
                    <p>Trajanje: {{ warrant.duration }}</p>
                    <p>Prijevoz: {{ warrant.transportation }}</p>
                </div>
            </md-list-item>
        </md-list>

    </div>

    <div layout="column" layout-align="center space-between" flex>

        <div layout="row" layout-align="center center" class="full-width">
            <md-button class="md-fab md-mini md-raised" ng-click="warrants.previous()" aria-label="Prethodni putni nalog"
                       ng-disabled="warrants.current == 0">
                <md-tooltip md-direction="bottom">Prethodni putni nalog</md-tooltip>
                <md-icon md-svg-src="navigate_before"></md-icon>
            </md-button>

            <iframe class="warrants-frame" flex></iframe>

            <md-button class="md-fab md-mini md-raised" ng-click="requests.next()" aria-label="Sljedeći putni nalog"
                       ng-disabled="warrants.current == warrants.warrants.length - 1">
                <md-tooltip md-direction="bottom">Sljedeći putni nalog</md-tooltip>
                <md-icon md-svg-src="navigate_next"></md-icon>
            </md-button>
        </div>

        <div layout="row" layout-align="space-around center" ui-view></div>

        <div layout="row" layout-align="center center" ng-if="warrants.attachments" ng-repeat="attachment in warrants.attachments">
            <p>{{ attachment.name }} ({{ attachment.size }} kB)</p>
            <md-button class="md-fab md-mini md-raised" ng-click="warrants.downloadAttachment(attachment.name)" aria-label="Dohvati datoteku">
                <md-tooltip md-direction="bottom">Dohvati datoteku</md-tooltip>
                <md-icon md-svg-src="file_download"></md-icon>
            </md-button>
        </div>
        <p ng-if="!warrants.attachments">Nema priloga</p>

        <iframe class="attachments-frame" ng-hide="true"></iframe>

    </div>

</div>

<div ng-if="warrants.warrants.length == 0">

    <p>{{ warrants.emptyInfo }}</p>

</div>