<div ng-if="main.user.type == 0">

    <div ng-if="sentRequests.requests.length > 0">

        <div layout="row" layout-align="space-between center">
            <md-button class="md-fab md-mini md-raised" ng-click="sentRequests.previous()" aria-label="Prethodni zahtjev"
                       ng-disabled="sentRequests.current == 0">
                <md-tooltip md-direction="bottom">Prethodni zahtjev</md-tooltip>
                <md-icon md-svg-src="navigate_before"></md-icon>
            </md-button>

            <iframe class="requests-frame" flex></iframe>

            <md-button class="md-fab md-mini md-raised" ng-click="sentRequests.next()" aria-label="Sljedeći zahtjev"
                       ng-disabled="sentRequests.current == sentRequests.requests.length - 1">
                <md-tooltip md-direction="bottom">Sljedeći zahtjev</md-tooltip>
                <md-icon md-svg-src="navigate_next"></md-icon>
            </md-button>
        </div>

        <div layout="row" layout-align="space-around center">
            <md-button class="md-fab md-mini md-raised badge" aria-label="{{ sentRequests.class }}">
                <md-icon md-svg-src="{{ sentRequests.icon }}" class="{{ sentRequests.class }}"></md-icon>
            </md-button>

            <p>{{ sentRequests.current + 1 }}/{{ sentRequests.requests.length }}</p>

            <md-button class="md-fab md-mini md-raised" ng-click="sentRequests.showDetails($event)" aria-label="Detalji">
                <md-tooltip md-direction="bottom">Detalji</md-tooltip>
                <md-icon md-svg-src="details"></md-icon>
            </md-button>
        </div>

    </div>

    <div ng-if="sentRequests.requests.length == 0">

        <p>Nema poslanih zahtjeva</p>

    </div>

</div>

<div ng-if="main.user.type != 0">
    Nemaš to pravo!
</div>