<div ng-if="requests.requests.length != 0" layout="row" layout-align="center start">

    <div layout="column" layout-align="start start" class="requests-list">

        <md-input-container class="full-width">
            <label>Poredaj po</label>
            <md-select ng-model="requests.orderBy">
                <md-option value="">primitku (novo-staro)</md-option>
                <md-option value="-">primitku (staro-novo)</md-option>
                <md-option value="surname">prezimenu (A-Z)</md-option>
                <md-option value="-surname">prezimenu (Z-A)</md-option>
                <md-option value="start_timestamp">polasku (prije-poslije)</md-option>
                <md-option value="-start_timestamp">polasku (poslije-prije)</md-option>
                <md-option value="end_timestamp">povratku (prije-poslije)</md-option>
                <md-option value="-end_timestamp">povratku (poslije-prije)</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Traži prezime</label>
            <input type="text" ng-model="requests.searchSurname">
        </md-input-container>

        <md-list>
            <md-list-item ng-repeat="request in requests.requests | filter: { surname: requests.searchSurname } | orderBy: requests.orderBy"
                          ng-click="requests.select($index)" ng-class="{ 'selected' : $index == requests.current }" class="md-2-line"
                          ng-mouseenter="requests.verbose[$index] = true" ng-mouseleave="requests.verbose[$index] = false">
                <div class="index">{{ $index + 1 }}</div>
                <div class="md-list-item-text">
                    <p>{{ request.name + " " + request.surname }}</p>
                    <p>{{ request.for_place }}</p>
                </div>
                <div ng-if="requests.verbose[$index]" class="verbose md-list-item-text">
                    <p>Osoba: {{ request.name + " " + request.surname }}</p>
                    <p>Mjesto: {{ request.for_place }}</p>
                    <p>Polazak: {{ requests.formatDate(request.start_timestamp, "dd.MM.yyyy. 'u' HH:mm") }}</p>
                    <p>Povratak: {{ requests.formatDate(request.end_timestamp, "dd.MM.yyyy. 'u' HH:mm") }}</p>
                    <p>Trajanje: {{ request.duration }}</p>
                    <p>Prijevoz: {{ request.transportation }}</p>
                </div>
            </md-list-item>
        </md-list>

    </div>

    <div layout="column" layout-align="center space-between" flex>

        <div layout="row" layout-align="center center" class="full-width">
            <md-button class="md-fab md-mini md-raised" ng-click="requests.previous()" aria-label="Prethodni zahtjev"
                       ng-disabled="requests.current == 0">
                <md-tooltip md-direction="bottom">Prethodni zahtjev</md-tooltip>
                <md-icon md-svg-src="navigate_before"></md-icon>
            </md-button>

            <iframe class="requests-frame" flex></iframe>

            <md-button class="md-fab md-mini md-raised" ng-click="requests.next()" aria-label="Sljedeći zahtjev"
                       ng-disabled="requests.current == requests.requests.length - 1">
                <md-tooltip md-direction="bottom">Sljedeći zahtjev</md-tooltip>
                <md-icon md-svg-src="navigate_next"></md-icon>
            </md-button>
        </div>

        <div layout="row" layout-align="space-around center" ui-view></div>

    </div>

</div>

<div ng-if="requests.requests.length == 0">

    <p>{{ requests.emptyInfo }}</p>

</div>