<md-button class="md-fab md-mini md-raised" ng-click="validation.invalid($event)" aria-label="Neispravan zahtjev">
    <md-tooltip md-direction="bottom">Neispravan zahtjev</md-tooltip>
    <md-icon md-svg-src="cancel"></md-icon>
</md-button>

<p>{{ requests.current + 1 }}/{{ requests.requests.length }}</p>

<md-button class="md-fab md-mini md-raised" ng-click="validation.valid($event)" aria-label="Ispravan zahtjev">
    <md-tooltip md-direction="bottom">Ispravan zahtjev</md-tooltip>
    <md-icon md-svg-src="check_circle"></md-icon>
</md-button>